<% layout('layouts/app') %>

<body>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <img
          src="<%= place.image %>"
          alt="<%= place.title %>"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title"><%= place.title %></h5>
          <p><%= place.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= place.location %></li>
          <li class="list-group-item"><%= place.price %></li>
        </ul>
        <div class="card-body">
          <a href="/places/<%= place._id%>/edit" class="btn btn-warning">
            Edit <%= place.title %>
          </a>
          <form
            action="/places/<%=place._id%>?_method=DELETE"
            method="POST"
            style="display: inline !important"
          >
            <button class="btn btn-danger">DELETE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  form {
    display: inline !important;
  }
</style>
